# Glitch
.glitchdotcom.json

# node modules
[Nn]ode_modules/

# database files
[Ss]avedata/
*.db

# logs
[Ss]avelogs/

# ignore test apis
[Ss]ource/publicapi/debug/

# ignore build
[Bb]uild/

# windows file
desktop.ini

# vscode file
.vscode