# node modules
[Nn]ode_modules/

# database files
[Ss]avedata/
*.db

# logs
[Ss]avelogs/

# ignore test apis
[Ss]ource/publicapi/debug/
[Ss]ource/publicapi/v1/checkupdate.js

# ignore build
[Bb]uild/

# windows file
desktop.ini

# vscode file
.vscode